* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1087px;
  box-sizing: content-box;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  display: inline-block;
  color: #fcfdfe;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.7px;
  border-radius: 5px;
  padding: 13px 30px;
  transition: background-color 0.3s ease 0s;
}

.button-blue {
  background-color: #4285f4;
}
.button-blue:hover, .button-blue:focus {
  background-color: #346cdd;
}
.button-blue:active {
  background-color: #2754c7;
}

.button-pink {
  background-color: #ec5863;
}
.button-pink:hover, .button-pink:focus {
  background-color: #d9475a;
}
.button-pink:active {
  background-color: #c53344;
}

.block-text__title {
  color: #000000;
  font-size: 44px;
  font-weight: 700;
  line-height: 126%;
}
.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.block-text__title-blue span {
  color: #4285f4;
}
.block-text__title-pink span {
  color: #ec5863;
}
.block-text__text {
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 8%;
}
.block-text__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.block-text__text-mw {
  max-width: 500px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0px 40px 0px 0px;
}
.menu__link {
  color: #000;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.7px;
}
.menu__link:hover, .menu__link:focus {
  color: #ec5863;
}
.menu__link:active {
  color: #4285f4;
}

.icon-menu,
.close-icon-menu {
  display: none;
}

.close-icon-menu img {
  width: 100%;
  height: 100%;
}

.get-started {
  background-color: rgb(250, 251, 253);
}
.get-started__container {
  padding: 153px 15px 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.get-started__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 252px;
  top: 0;
  background-color: #ec5863;
  border-radius: 30px 0px 0px 30px;
  transform: translate(100%, 0);
}
.get-started__content {
  flex: 0 1 46.9135802469%;
  padding: 0px 0px 0px 15px;
}
.get-started__block-text {
  max-width: 410px;
}
.get-started__video {
  flex: 1 1 100%;
  margin: 0px 0px 0px 15px;
}
.get-started__image {
  flex: 0 1 53.0864197531%;
  z-index: 2;
}
.get-started__image img {
  width: 100%;
}

.video-get-started {
  padding: 60px 0px 0px 0px;
  display: inline-flex;
  align-items: center;
}
.video-get-started__icon {
  flex: 0 0 44px;
}
.video-get-started__body {
  padding: 0px 0px 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-get-started__body > *:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.video-get-started__title {
  color: rgb(176, 176, 176);
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 8%;
}
.video-get-started__text {
  color: #000000;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 16.5%;
  text-transform: uppercase;
}

.stay-safe {
  padding: 80px 0;
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
.stay-safe__media {
  flex: 0 1 50%;
}
.stay-safe__content {
  flex: 0 1 50%;
}

.media-stay-safe {
  width: 373px;
  position: relative;
  text-align: center;
  padding: 56px 0 27px;
}
.media-stay-safe__image {
  display: inline-block;
  border-radius: 16px;
  box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  width: 61.5%;
}
.media-stay-safe__image img {
  position: relative;
  z-index: 10;
  max-width: 100%;
}
.media-stay-safe__image::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 12px;
  width: 206px;
  height: 27px;
  border-radius: 16px;
  background: rgba(240, 240, 240, 0.49);
  z-index: 3;
}
.media-stay-safe__item {
  position: absolute;
  background-color: #ec5863;
  border-radius: 30px;
  width: 77px;
  height: 77px;
}
.media-stay-safe__item-1 {
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
}
.media-stay-safe__item-2 {
  bottom: 0;
  left: 32px;
}
.media-stay-safe__item-3 {
  bottom: 107px;
  right: 34px;
}

.experts {
  padding: 104px 0 116px;
  background-color: #fafbfd;
}
.experts__statistics {
  padding: 0px 0px 80px 0px;
}
.experts__body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.experts__content {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 0px;
}
.experts__block-text {
  max-width: 400px;
}
.experts__video {
  padding: 0px 0px 58% 0px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
  overflow: hidden;
}
.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.statistics-experts {
  max-width: 654px;
  margin: 0 auto;
  position: relative;
}
.statistics-experts__body {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
  position: relative;
  z-index: 2;
}
.statistics-experts__decor {
  position: absolute;
  background: #ec5863;
  transform: rotate(-30deg);
  border-radius: 30px;
}
.statistics-experts__decor1 {
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  top: 75px;
  left: -21px;
}
.statistics-experts__decor2 {
  width: 96.96px;
  height: 96.96px;
  transform: rotate(105deg);
  top: -51px;
  left: 209px;
}
.statistics-experts__decor3 {
  width: 127.47px;
  height: 127.47px;
  top: 0;
  right: -50px;
}

.body-statistics-experts {
  display: flex;
  padding: 28px 80px;
  align-items: center;
}
.body-statistics-experts__item {
  flex: 0 1 25%;
  text-align: center;
}
.body-statistics-experts__item:last-child {
  flex: 0 1 50%;
}
.body-statistics-experts__value {
  color: #ec5863;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 2px;
  margin: 0px 0px 5px 0px;
}
.body-statistics-experts__desc {
  color: #000;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.healthcare {
  padding: 80px 0 28px;
}
.healthcare__content {
  padding: 0px 0px 46px 0px;
}
.healthcare__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.healthcare__item::before, .healthcare__item::after {
  content: "";
  position: absolute;
  background: #ec5863;
  z-index: -1;
  width: 65.75px;
  height: 65.75px;
  transform: rotate(-30deg);
  border-radius: 16px;
}
.healthcare__item-1::before {
  left: -17px;
  bottom: -30px;
}
.healthcare__item-1::after {
  width: 96.96px;
  height: 96.96px;
  transform: rotate(105deg);
  border-radius: 30px;
  top: 40px;
  right: -40px;
}
.healthcare__item-3::before {
  top: -35px;
  right: -20px;
}
.healthcare__item-3::after {
  width: 127.47px;
  height: 127.47px;
  border-radius: 30px;
  bottom: -25px;
  left: -80px;
}

.body-healthcare {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 33.333%;
}
.body-healthcare__item {
  position: relative;
  width: 270px;
  margin: 0 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 37px 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
  background: #ffffff;
}
.body-healthcare__icon {
  margin: 0px 0px 58px 0px;
}
.body-healthcare__title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 138.5%;
  letter-spacing: 1px;
}
.body-healthcare__desc {
  line-height: 138.5%;
  letter-spacing: 1px;
}

.footer {
  padding: 47px 0;
}
.footer__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer__link {
  margin: 0px 28.5px;
}

/* ===================================== */
@media (max-width: 1087px) {
  .container {
    max-width: 970px;
  }
  .experts {
    padding: 104px 0px 90px;
  }
  .body-healthcare__item {
    margin: 0 24px;
  }
}
/* ===================================== */
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
  .header__container {
    min-height: 80px;
  }
  .header__button {
    flex: 0 0 170px;
  }
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
  .get-started__container::before {
    right: 185px;
    border-radius: 20px;
  }
  .get-started__content {
    padding: 0px 15px 0px 0px;
  }
  .stay-safe {
    padding: 60px 0;
  }
  .healthcare {
    padding: 70px 0 28px;
  }
  .body-healthcare__item {
    margin: 0 15px;
  }
}
/* ===================================== */
@media (min-width: 991.98px) {
  .stay-safe__media {
    padding: 0px 0px 0px 47px;
  }
}
/* ===================================== */
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
  .header__button .button {
    padding: 14px 20px;
    font-size: 13px;
  }
  .header__button .button-blue {
    background-color: #2754c7;
  }
  .header__logo {
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #4285f4;
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: flex;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #4285f4;
    padding: 90px 15px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__link {
    color: #fff;
    font-size: 30px;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 0px 0px;
  }
  .menu__item {
    margin: 0px 0px 25px 0px;
  }
  .menu__item:last-child {
    margin: 0px;
  }
  .icon-menu,
  .close-icon-menu {
    display: flex;
    position: relative;
    height: 18px;
    flex: 0 0 18px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
    background-color: #fff;
    box-sizing: content-box;
    padding: 13px;
    border-radius: 5px;
  }
  .icon-menu::before, .icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }
  .icon-menu span {
    background-color: #000;
    height: 2px;
  }
  .close-icon-menu {
    display: none;
  }
  .get-started__container {
    padding: 100px 40px 48px;
  }
  .get-started__container::before {
    display: none;
  }
  .get-started__content {
    flex: 1 1 auto;
    padding: 0;
  }
  .get-started__block-text {
    max-width: none;
  }
  .get-started__image {
    flex: 1 1 100%;
    text-align: center;
    padding: 30px 0;
  }
  .get-started__video {
    margin: 0;
  }
  .video-get-started {
    padding: 10px 0px 0px 0px;
  }
  .stay-safe__container {
    flex-direction: column-reverse;
    padding: 0px 40px;
  }
  .stay-safe__content {
    padding: 0px 0px 30px 0px;
  }
  .experts {
    padding: 104px 25px 70px;
  }
  .experts__statistics {
    padding: 0px 0px 80px 0px;
  }
  .experts__body {
    display: block;
  }
  .experts__content {
    padding: 0px 0px 30px 0px;
  }
  .experts__block-text {
    max-width: none;
  }
  .statistics-experts {
    max-width: 85%;
  }
  .statistics-experts__decor3 {
    width: 120.47px;
    height: 120.47px;
  }
  .body-statistics-experts {
    padding: 28px 20px;
  }
  .healthcare__item-1, .healthcare__item-2 {
    width: 45%;
  }
  .healthcare__item-3 {
    width: 100%;
  }
  .healthcare__item-3::after {
    left: 400px;
    bottom: 200px;
  }
  .healthcare__item-3::before {
    top: 213px;
    left: 132px;
  }
  .body-healthcare {
    flex-wrap: wrap;
  }
  .body-healthcare__item {
    margin: 0 15px 30px;
  }
  .footer {
    padding: 10px 0 47px;
  }
}
/* ===================================== */
@media (max-width: 630px) {
  .statistics-experts__decor3 {
    width: 95.47px;
    height: 95.47px;
    top: 40px;
  }
  .statistics-experts__decor2 {
    left: 120px;
  }
  .statistics-experts__decor1 {
    top: 65px;
  }
  .body-statistics-experts {
    padding: 28px 20px;
  }
  .body-statistics-experts__value {
    font-size: 29px;
    margin-bottom: 2px;
  }
  .body-statistics-experts__desc {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .healthcare__block-text {
    padding: 0 40px;
  }
  .healthcare__item::before, .healthcare__item::after {
    display: none;
  }
  .body-healthcare__item {
    margin: 0 15px 30px;
    width: 100%;
  }
}
/* ===================================== */
@media (max-width: 479.98px) {
  .header__logo {
    flex: 0 0 47px;
    overflow: hidden;
  }
  .get-started__container {
    padding: 100px 25px 48px;
  }
  .get-started__container::before {
    display: none;
  }
  .block-text__title {
    font-size: 40px;
  }
  .stay-safe {
    padding: 30px 0;
  }
  .stay-safe__container {
    flex-direction: column-reverse;
    padding: 0px 25px;
  }
  .stay-safe__media {
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stay-safe__content {
    padding: 0px 0px 30px 0px;
  }
  .media-stay-safe__image::after {
    width: 154px;
  }
  .media-stay-safe__item-1 {
    width: 120px;
    height: 120px;
    top: 10px;
    left: 10px;
  }
  .experts {
    padding: 104px 10px 50px;
  }
  .statistics-experts {
    display: flex;
    justify-content: center;
  }
  .statistics-experts__body {
    border-radius: 10px;
  }
  .statistics-experts__decor3 {
    width: 95.47px;
    height: 95.47px;
    top: 200px;
    right: -5px;
  }
  .statistics-experts__decor1 {
    left: 0;
    top: 85px;
  }
  .body-statistics-experts {
    flex-direction: column;
    width: 80%;
  }
  .body-statistics-experts__item {
    padding: 0 15px;
    margin: 0px 0px 25px 0px;
  }
  .body-statistics-experts__item:last-child {
    margin: 0;
  }
  .healthcare {
    padding: 30px 0 0;
  }
  .healthcare__block-text {
    padding: 0 15px;
  }
  .footer__link:not(:last-child) {
    margin: 15px 28.5px;
  }
}/*# sourceMappingURL=main.css.map */