* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1087px;
  box-sizing: content-box;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  display: inline-block;
  color: #fcfdfe;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.7px;
  border-radius: 5px;
  padding: 13px 30px;
  transition: background-color 0.3s ease 0s;
}

.button-blue {
  background-color: #4285f4;
}
.button-blue:hover, .button-blue:focus {
  background-color: #346cdd;
}
.button-blue:active {
  background-color: #2754c7;
}

.button-pink {
  background-color: #ec5863;
}
.button-pink:hover, .button-pink:focus {
  background-color: #d9475a;
}
.button-pink:active {
  background-color: #c53344;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0px 40px 0px 0px;
}
.menu__link {
  color: #000;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.7px;
}
.menu__link:hover, .menu__link:focus {
  color: #ec5863;
}
.menu__link:active {
  color: #4285f4;
}

.icon-menu,
.close-icon-menu {
  display: none;
}

.close-icon-menu img {
  width: 100%;
  height: 100%;
}

/* ===================================== */
@media (max-width: 1087px) {
  .container {
    max-width: 970px;
  }
}
/* ===================================== */
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
  .header__container {
    min-height: 80px;
  }
  .header__button {
    flex: 0 0 170px;
  }
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
}
/* ===================================== */
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
  .header__button .button {
    padding: 14px 20px;
    font-size: 13px;
  }
  .header__button .button-blue {
    background-color: #2754c7;
  }
  .header__logo {
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #4285f4;
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: flex;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #4285f4;
    padding: 90px 15px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__link {
    color: #fff;
    font-size: 30px;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 0px 0px;
  }
  .menu__item {
    margin: 0px 0px 25px 0px;
  }
  .menu__item:last-child {
    margin: 0px;
  }
  .icon-menu,
  .close-icon-menu {
    display: flex;
    position: relative;
    height: 18px;
    flex: 0 0 18px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
    background-color: #fff;
    box-sizing: content-box;
    padding: 13px;
    border-radius: 5px;
  }
  .icon-menu::before, .icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }
  .icon-menu span {
    background-color: #000;
    height: 2px;
  }
  .close-icon-menu {
    display: none;
  }
}
/* ===================================== */
@media (max-width: 479.98px) {
  .header__logo {
    flex: 0 0 47px;
    overflow: hidden;
  }
}/*# sourceMappingURL=main.css.map */