.get-started {
    background-color: rgb(250, 251, 253);

    &__container {
        padding: 153px 15px 48px;
        display: flex;
        flex-wrap: wrap; //для того, чтобы видео перескочило на след. строку
        align-items: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100vw;
            height: 75%;
            right: 252px;
            top: 17%;
            background-color: $main-color;
            border-radius: 30px 0px 0px 30px;
            transform: translate(100%, 0);
        }
    }

    &__content {
        flex: 0 1 (494px * 100%)/1053px;
        padding: 0px 0px 0px 15px;
    }

    &__block-text {
        max-width: 410px;
    }

    &__video {
        flex: 1 1 100%;
        margin: 0px 0px 0px 15px;
    }

    &__image {
        flex: 0 1 100%-(494px * 100%)/1053px;
        z-index: 2;
        img {
            width: 100%;
        }
    }
}
.video-get-started {
    padding: 60px 0px 0px 0px;
    display: inline-flex;
    align-items: center;
    &__icon {
        flex: 0 0 44px;
    }

    &__body {
        padding: 0px 0px 0px 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > *:not(:last-child) {
            margin: 0px 0px 5px 0px;
        }
    }

    &__title {
        color: rgb(176, 176, 176);
        font-size: 13px;
        line-height: 126%;
        letter-spacing: 8%;
    }

    &__text {
        color: #000000;
        font-size: 9px;
        line-height: 126%;
        letter-spacing: 16.5%;
        text-transform: uppercase;
    }
}
